.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clear-all {
  position: absolute;
  right: 0;
}

.floating-placeholder {
  position: absolute;
  top:0;
  left:7.5px;
}

.x-large-input, .large-input, .medium-input, .small-input{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px;
  padding: 25.5px 32.5px 7.5px 7.5px;
  border: none;
  border-bottom: 2px solid #cccccc;
  transition: all 0.5s;
  opacity: 1;
}

.x-large-input {
  min-width: 200px;
}

.large-input {
  min-width: 150px;
}

.medium-input {
  min-width: 100px;
}

.small-input {
  min-width: 75px;
}

.x-large-input:hover, .large-input:hover, .medium-input:hover, .small-input:hover {
  border-bottom: 2px solid #16a085;
  opacity: 0.75;
  transition: all 0.5s;
}

.x-large-input:focus, .large-input:focus, .medium-input:focus, .small-input:focus {
  border-bottom: 2px solid #16a085;
  opacity: 1;
  transition: all 0.5s;
}