.x-large-text, .large-text, .medium-text, .small-text, .auto-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4a4a4a;
  padding: 5px;
}

.x-large-text {
  font-size: 20px;
}

.large-text {
  font-size: 16px;
}

.medium-text {
  font-size: 14px;
}

.small-text {
  font-size: 12px;
}