.badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #16a085;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 25px;
  margin: 5px;
  padding: 5px 10px;
  color: #FFFFFF;
  opacity: 1;
  transition: all 0.5s;
  flex-grow: 1;
}

.badge-text {
  width:90%;
}

.remove-icon, .edit-icon {
  display: flex;
  background: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0px;
  width:5%;
  height: 100%;
}

.remove-icon:hover, .edit-icon:hover {
  opacity: 0.5;
  transition: all 0.5s;
}