body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  height: auto;
  max-height: 100vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*:focus {
  outline: red;
}

focus {
  outline: red;
}